<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kavan.com.stockanalysis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main"
            android:label="@string/title_activity_main"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".macd" />
        <activity
            android:name=".macd1"
            android:screenOrientation="landscape" />
        <activity android:name=".sr" />
        <activity
            android:name=".macd2"
            android:screenOrientation="landscape" />
        <activity android:name=".bb" />
        <activity
            android:name=".bb1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".bb2"
            android:screenOrientation="landscape" />
        <activity android:name=".help"/>
    </application>

</manifest>